/* body {
    background-color: powderblue;
}
h1{
    color: blue;
}
p {
    color: red;
} */
/* .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            }

            .image-column {
            flex: 1;
            margin: 10px;
            }

            .text-column {
            flex: 2;
            margin: 10px;
            }

            img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        } */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wonder {
  margin: 20px;
  text-align: center;
  width: 300px;
}

.wonder img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
