<html>
    <head>
        <title>7 wonders of the world</title>
        <link rel="stylesheet" href="static/styles.css">
        <style>
            q{
                display: block;
                border: 5px double black;
                padding: 30px;
                margin: 20px;
        }
        </style>
    </head>
    <body>
        <h1><center>7 WONDERS OF THE WORLD</center></h1>
        <q>The New 7 Wonders of the World was a campaign started in 2001 to choose Wonders of the World from a selection of 200 existing monuments. The popularity poll via free web-based voting and telephone voting was led by Canadian-Swiss Bernard Weber and organized by the New 7 Wonders Foundation (N7W) based in Zurich, Switzerland, with winners announced on 7 July 2007 at Estádio da Luz in Lisbon. The poll was considered unscientific partly because it was possible for people to cast multiple votes. According to John Zogby, founder and current President/CEO of the Utica, New York–based polling organization Zogby International, New 7 Wonders Foundation drove "the largest poll on record".
            <br><br>
        The program drew a wide range of official reactions. Some countries touted their finalist and tried to get more votes cast for it, while others downplayed or criticized the contest. After supporting the New 7 Wonders Foundation at the beginning of the campaign by providing advice on nominee selection, the United Nations Educational, Scientific, and Cultural Organization (UNESCO), bound by its bylaws to record and give equal status to all World Heritage Sites, distanced itself from the undertaking in 2001 and again in 2007.
            <p>Ancient Seven Wonders (circa 2nd century BC)</p>
            <p>Compiled by Hellenistic travelers and writers, including Antipater of Sidon and Philo of Byzantium.</p>
            <p>List includes:</p>
            <ul>
                <li><em>Great Pyramid of Giza</em> (2580-2560 BC)</li>
                <li><em>Hanging Gardens of Babylon</em> (circa 600 BC, existence debated)</li>
                <li><em>Statue of Zeus at Olympia</em> (435 BC)</li>
                <li><em>Temple of Artemis at Ephesus</em> (550 BC, rebuilt in 323 BC)</li>
                <li><em>Mausoleum at Halicarnassus</em> (351 BC)</li>
                <li><em>Colossus of Rhodes</em> (280 BC)</li>
                <li><em>Lighthouse of Alexandria</em> (280-247 BC)</li>
            </ul>

            <p>New Seven Wonders of the World (2007)</p>
            <p>Chosen through a worldwide poll by the New7Wonders Foundation.</p>
            <p>List includes:</p>
            <ul>
                <li><em>The Great Wall of China</em> (7th century BC, extended and fortified during the Ming Dynasty)</li>
                <li><em>Chichén Itzá</em> (435-600 AD, Mexico)</li>
                <li><em>Petra</em> (312 BC, Jordan)</li>
                <li><em>Machu Picchu</em> (1450 AD, Peru)</li>
                <li><em>Christ the Redeemer</em> (1931 AD, Brazil)</li>
                <li><em>The Colosseum</em> (72-80 AD, Italy)</li>
                <li><em>The Taj Mahal</em> (1648 AD, India)</li>
            </ul></q>
        <center>
            <table border=1px bordercolor="blueviolet">
            <tr style="background-color:aqua">
                <th>S no.</th>
                <th>Name</th>
                <th>Location</th>
                <th>Refernce link</th>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>1.</td>
                <td>Great Wall of China</td>
                <td>China</td>
                <td><a href=https://en.wikipedia.org/wiki/Great_Wall_of_China>Click to know about Great Wall of China</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>2.</td>
                <td>Chichén Itzá</td>
                <td>Mexico</td>
                <td><a href=https://en.wikipedia.org/wiki/Chich%C3%A9n_Itz%C3%A1>Click to know about Chichén Itzá</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>3.</td>
                <td>Christ the Redeemer</td>
                <td>Brazil</td>
                <td><a href=https://en.wikipedia.org/wiki/Christ_the_Redeemer>Click to know about Christ the Redeemer</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>4.</td>
                <td>Machu Picchu</td>
                <td>Peru</td>
                <td><a href=https://en.wikipedia.org/wiki/Machu_Picchu>Click to know about Machu Picchu</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>5.</td>
                <td>Petra</td>
                <td>Jordan</td>
                <td><a href=https://en.wikipedia.org/wiki/Petda>Click to know about Petra</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>6.</td>
                <td>Taj Mahal</td>
                <td>India</td>
                <td><a href=https://en.wikipedia.org/wiki/Taj_Mahal>Click to know about Taj Mahal</a></td>
            </tr>
            <tr style="background-color: antiquewhite">
                <td>7.</td>
                <td>Colosseum</td>
                <td>Italy</td>
                <td><a href=https://en.wikipedia.org/wiki/Colosseum>Click to know about Colosseum</a></td>
            </tr>
            </table>
        </center>
        
        <div class="container">
            <div class="wonder">
                <img src="static/greatwallofchina.jpeg" alt="Great Wall of China">
                <h2>Great Wall of China</h2>
                <p>The Great Wall of China is an iconic symbol of ancient Chinese engineering...</p>
            </div>
            <div class="wonder">
                <img src="static/chichenitza.jpeg" alt="Chichén Itzá">
                <h2>Chichén Itzá</h2>
                <p>Chichén Itzá is a historic Mayan city built between the 9th and 12th centuries...</p>
            </div>
            <div class="wonder">
                <img src="static/colosseum.jpeg" alt="Colosseum">
                <h2>Colosseum</h2>
                <p>The Colosseum is an oval amphitheater in Rome where gladiators once fought...</p>
            </div>
            <div class="wonder">
                <img src="static/machupichu.jpeg" alt="Machu Picchu">
                <h2>Machu Picchu</h2>
                <p>Machu Picchu is an Incan site in Peru that was "found" by Hiram Bingham in 1911...</p>
            </div>
            <div class="wonder">
                <img src="static/petra.jpeg" alt="Petra">
                <h2>Petra</h2>
                <p>Petra is an archaeological city in southern Jordan known for its rock-cut architecture...</p>
            </div>
            <div class="wonder">
                <img src="static/tajmahal.jpeg" alt="Taj Mahal">
                <h2>Taj Mahal</h2>
                <p>The Taj Mahal is a stunning white marble mausoleum in Agra, India...</p>
            </div>
            <div class="wonder">
                <img src="static/christtheredeemer.jpg" alt="Christ the Redeemer">
                <h2>Christ the Redeemer</h2>
                <p>Christ the Redeemer is a massive Art Deco statue of Jesus Christ in Rio de Janeiro...</p>
            </div>
        </div>
        <center>
            <a href={{url_for("survey")}}>Please click and fill out our Survey</a>
        </center>
        
    </body>
</html>